.sellForm {
    flex-grow: 1;
    margin: 0 auto;
}
.sellForm > *+* {
    margin-top: 1em;
}
#expireTime {
    width: 4em;
}
#price {
    width: 5em;
}
.row {
    max-width: 100%;
}
.mapDiv {
    position: relative;
}
.latitude, .longitude {
    position: absolute;
    right: 0px;
    width: 8em;
    border: none;
}
.latitude {
    top: 0px;
}
.longitude {
    top: 20px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  max-width: 32vw;
}